<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <pre>Dear participant,</pre>
    <pre>you receive this e-mail to confirm your participation. Below you will find a <b>confirmation token</b>. Please keep this token save as this token can be used to register yourself again on a different mobile device.</pre>
    <h1 th:text="${token}">TOKEN</h1>
    <pre><br/>Best regards,</pre>
    <pre>Research Team</pre>
</body>
</html>